.post {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.post h3{
    font-size: 26px;
    margin: 0;
}

.post p{
    font-size: 18px;
    margin-top: 5px;
}

.post .img-container{
    min-height: 0;
    margin-top: 10px;
    width: 100%;
}

.post .img-container img{
    width: 100%;
}

.post .link-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.post .link-container a{
    color: lightgrey;
    text-decoration: none;
}

.post .link-container a:hover{
    color: gray;
}

.post-footer {
    display: flex;
    border-top: 3px dashed gray;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.post-footer p{
    width: 30%;
    font-size: 14px;
    margin: 16px;
}

.post-footer .comment-btn-container{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-footer .comment-btn-container button{
    height: 100%;
    width: 25%;
    outline: none;
    border: none;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.post-footer .comment-btn-container button:hover{
    background: lightgray;
}

.post-footer .comment-btn-container button:active{
    background: gray;
}

.post-footer .comment-btn-container button img{
    height: 100%;
    width: 100%;
}

.post-footer .comment-btn-container p{
    margin-left: 0px;
}


